/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* -------- CSS RESET ---------- */

/* Custom CSS */

html {
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    box-sizing: border-box;
}

*,
*:before,
*:after{
  box-sizing: inherit;
}


body {
    background-color: #f7f7ff;
    color: #333131;
    /* font-family: arial, sans-serif; */
}

h1 {
    font-size: 5rem;
    font-weight: bold;
}

h2 {
    font-size: 2.5rem;
    font-weight: bold;
}

h3 {
    font-size: 1.2rem;
    font-weight: bold;
}


header img {
    width: 200px;
    margin-left: 60px;
}
.box1 {
    margin-left: 60px;
    margin-right: 60px;
    line-height: 1.2;
}
.box1 img {
    margin: auto;
    margin-right: 30px;

}
.box2 {
    padding: 20px;
    background-color: #f7f7ff;
    box-shadow: 2px 2px 2px 2px #333131;
    width: 250px;
    height: 350px;
    margin: auto;
    margin-top: 25px;
    margin-bottom: 50px;
    line-height: 1.5;
    border-radius: 20px;

}
.box2 button {
    background: #57eeab;
    font-weight: bold;
    border: none;
    font-size: 20px;
    padding: 10px;
    border-radius: 10px;
}
.box2 span {
    color: #ff8480;

}
.box3 button {
    background: #ff8480;
    font-weight: bold;
    color: #f7f7ff;
    border: none;
}

footer {
    background-color: #fffd8c;
}

.icon {
    display: flex;
    justify-content: space-around;
    align-items: flex-end;
    padding: 20px;
    margin-left: 30px;
    margin-right: 30px;
    
    
}

.box1 {
    display: flex;
    flex-direction: column-reverse;
}

h1 {
    order: 1; 
}

.box2 {
    display: flex;
    flex-direction: column;
}

.box3 {
    margin: 30px;
    padding-top: 20px;
    line-height: 30px;
    margin-left: 60px;
    margin-right: 60px;
}
.box3 ul {
    display: flex;
    justify-content: space-between;
    background: #f7f7ff;

}



/* It's Tablet style from here. */

@media screen and (min-width: 600px){
    .box1 img {
        margin-left: 60px;
        margin-right: 60px;
    }
    .box1 p {
        margin-right: 100px;
    }
    .box2 {
        width: 500px;
        height: 350px;
    }
    .icon {
        padding: 20px;
        margin-left: 150px;
        margin-right: 150px;
    }

	
}


/* It's Desktop styles from here. */

@media screen and (min-width: 800px){
    .box1 {
        display: flex;
    }

	footer {
        display: flex;
    }

   
    
    .icon {
       display: flex;
        

    }

}